@import url('https://fonts.googleapis.cnpmjs.org/css?family=Roboto');

body {
    all: initial;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

/** {*/
/*  box-sizing: border-box;*/
/*}*/

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: linear-gradient(30deg, #ef008f, #6ec3f4, #7038ff, #ffba27);
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 450px;
    height: 450px;
    top: -8%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /*padding: 20px;*/
    border-radius: 5px;
    z-index: 1;
}

@media screen and (max-width: 640px) {
    .form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        width: 22em;
        height: 22em;
        top: -8%;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        /*padding: 20px;*/
        border-radius: 5px;
        z-index: 1;
    }
}

.form__loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: -4;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form__content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.5s ease 0.7s;
    transition: all 0.5s ease 0.7s;
    width: 300px;
}

.form__content h1 {}

.form__cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -4;
    border-radius: 7px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0.8s;
    transition: all 0.3s ease 0.8s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form__cover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: whitesmoke;
    z-index: -4;
    border-radius: 50%;
    -webkit-transition: all 1.5s ease 0.3s;
    transition: all 1.5s ease 0.3s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.form__cover:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: -5;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
}

body.on-start .form__cover:before {
    -webkit-transform: scale(0.15);
    transform: scale(0.15);
}

body.document-loaded .form__loader {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
}

body.document-loaded .form__content {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

body.document-loaded .form__cover {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

body.document-loaded .form__cover:after {
    -webkit-transform: scale(2);
    transform: scale(2);
}

body.document-loaded .form__cover:before {
    -webkit-transition: opacity 0.3s ease 0.8s, -webkit-transform 2s ease;
    transition: opacity 0.3s ease 0.8s, -webkit-transform 2s ease;
    transition: transform 2s ease, opacity 0.3s ease 0.8s;
    transition: transform 2s ease, opacity 0.3s ease 0.8s, -webkit-transform 2s ease;
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
}

h1.title {
    font-size: 25px;
    margin: 0 0 20px 0;
    color: black;
    font-weight: 700;
    padding: 0.5em 0
}

.styled-button {
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    padding: 20px;
    outline: none;
    background: none;
    position: relative;
    color: #e4e4e4;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    background: #3085f3;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
    margin: 0 1px;

}

.styled-button__real-text-holder {
    position: relative;
}

.styled-button__real-text {
    color: transparent;
    display: inline-block;
}

.styled-button__text-holder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.styled-button__moving-block {
    color: #492e72;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.styled-button__moving-block.back {
    color: white;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.styled-button__moving-block.back .styled-button__text-holder {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.styled-button:hover,
.styled-button:active {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background: #208dfa;
}

.styled-button:hover .face,
.styled-button:active .face {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.styled-button:hover .face .styled-button__text-holder,
.styled-button:active .face .styled-button__text-holder {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.styled-button:hover .back,
.styled-button:active .back {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.styled-button:hover .back .styled-button__text-holder,
.styled-button:active .back .styled-button__text-holder {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.styled-button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.styled-input {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.styled-input.captcha-input {
    display: none;
}

.styled-input.captcha-input .styled-input__placeholder {
    justify-content: space-between;
}

.styled-input.captcha-input .styled-input__placeholder-image {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 2px;
}

.styled-input__circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    border-radius: 3px;
}

.styled-input__circle:after {
    content: '';
    position: absolute;
    left: 16.5px;
    top: 19px;
    height: 14px;
    width: 14px;
    z-index: -2;
    border-radius: 50%;
    /*background: rgba(161, 161, 161, 0.3);*/
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    -webkit-transition: opacity 1s ease, -webkit-transform 0.6s ease;
    transition: opacity 1s ease, -webkit-transform 0.6s ease;
    transition: transform 0.6s ease, opacity 1s ease;
    transition: transform 0.6s ease, opacity 1s ease, -webkit-transform 0.6s ease;
}

.styled-input__input {
    -webkit-appearance: none;
    font-size: 18px;
    outline: none;
    width: 100%;
    background: none;
    padding: 18px 0px;
    color: rgb(100, 100, 100);
    border: none;
    font-weight: 600;
    letter-spacing: 0.035em;
    text-indent: 15px;
}

.styled-input__placeholder {
    position: absolute;
    left: 20px;
    padding: 0 5px;
    display: -ms-flexbox;
    -ms-flex-align: center;
    color: rgb(145, 143, 143);
    top: -10px;
    background: #f5f5f5;
}

.styled-input__placeholder-text {
    -webkit-perspective: 500px;
    perspective: 500px;
    display: inline-block;
}

.styled-input__placeholder-text .letter {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-animation: letterAnimOut 0.25s ease forwards;
    animation: letterAnimOut 0.25s ease forwards;
    text-shadow: 0 2 4px;
    background-color: transparent;
}

.styled-input__placeholder-text .letter.active {
    -webkit-animation: letterAnimIn 0.25s ease forwards;
    animation: letterAnimIn 0.25s ease forwards;
    top: 0px;
}

.styled-input:hover {
    border-color: rgba(0, 0, 0, 0.4);
}

.styled-input.filled {
    border-color: #2c82f1;
    background-color: white;
}

.styled-input.filled .styled-input__circle:after {
    -webkit-transform: scale(37);
    transform: scale(37);
    opacity: 0;
}

.spinner {
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.spinner__circular {
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
}

.spinner__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.3s ease forwards 0.5s;
    animation: dash 1.3s ease forwards 0.5s;
    opacity: 0;
    stroke-linecap: round;
    stroke: #2ca7ff;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        opacity: 0;
    }

    50% {
        stroke-dasharray: 40, 200;
        opacity: 1;
    }

    100% {
        stroke-dasharray: 125, 200;
        opacity: 1;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        opacity: 0;
    }

    50% {
        stroke-dasharray: 40, 200;
        opacity: 1;
    }

    100% {
        stroke-dasharray: 125, 200;
        opacity: 1;
    }
}

/* 粒子效果背景 */
#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*# 显示/隐藏 密码按钮 */
button#toggle-password {
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 9;
    width: 28px;
    height: 30px;
    background: 0;
    border: 0;
}

button#toggle-password:active,
button#toggle-password:focus,
button#toggle-password:hover {
    cursor: pointer;
}

button#toggle-password:focus {
    outline: none !important;
}

.input-password {
    /*padding-right: calc(1.5em + .75rem);*/
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.input-password[type="password"]:valid {
    background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/%3E%3Cpath d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/%3E%3Cpath d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z'/%3E%3Cpath fill-rule='evenodd' d='M13.646 14.354l-12-12 .708-.708 12 12-.708.708z'/%3E%3C/svg%3E") !important;
}

.input-password[type="text"]:valid {
    background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z'/%3E%3Cpath fill-rule='evenodd' d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/%3E%3C/svg%3E") !important;
}


/* 密码强度检测条 */
.progress-bar {}

.progress-bar_wrap {
    margin: 0 10px;
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 282px;
    height: 4px;
    background: #F6F6FA;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 5px;
}

.progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 33.333%;
    border-radius: 5px;
    float: left;
    visibility: hidden;
    -webkit-transition: background-color .2s, visisility .1s;
    transition: background-color .2s, visisility .1s;
    z-index: 1;
}

.progress-bar_active {
    visibility: visible;
}

.progress-bar_item-1,
.progress-bar_item-2,
.progress-bar_item-3 {}

.progress-bar_item-1.progress-bar_active {
    background-color: #FF4B47;
}

.progress-bar_item-2.progress-bar_active {
    background-color: #F9AE35;
}

.progress-bar_item-3.progress-bar_active {
    background-color: #2DAF7D;
}